.container-card {
    position: absolute;
    margin: 0 25% 0 25%;
    width: 50%;
    height: 80%;
    left: 0;
    top: 10%;
    background: linear-gradient(111.49deg, rgba(255, 255, 255, 0.4) -8.95%, rgba(255, 255, 255, 0.01) 114%);
    backdrop-filter: blur(100px);
    border-radius: 25px;
}

header {
    position:relative
}

p {
    position: absolute;
    margin: 0;
    padding: 18px;
    left: 0;
    top: 0;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;

    text-align: center;
    text-transform: capitalize;

    background: linear-gradient(180deg, #296399 54.68%, rgba(255, 255, 255, 0) 187.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}

input {
    margin: 10px;
    float: right;
}