.container-card {
    margin: auto;
    width: 70%;
    max-width: 500px;
    max-height: 500px;
    height: 80%;
    left: 0;
    top: 10%;
    background: linear-gradient(111.49deg, rgba(255, 255, 255, 0.4) -8.95%, rgba(255, 255, 255, 0.01) 114%);
    backdrop-filter: blur(100px);
    border-radius: 25px;
    min-height: 600px;
    margin-top: 5%;
}

header {
    position:relative;
}

p {
    position: absolute;
    margin: 0 20px 0 0;
    padding: 0;
    right: 0;
    top: 0;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;

    text-align: center;
    text-transform: capitalize;

    background: linear-gradient(180deg, #296399 54.68%, rgba(255, 255, 255, 0) 187.46%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.buttonStepBack {
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #265DC7;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 4.15917px 8.31834px rgba(0, 0, 0, 0.14), 0px 8.31834px 10.3979px rgba(0, 0, 0, 0.12), 0px 2.07958px 20.7958px rgba(0, 0, 0, 0.2);
    border: none;
    width: 190px;
    height: 45px;
    border-radius: 10px;
    font-size: larger;
    color: aliceblue;
    margin: 10px;
    font-weight: bold;
}

.buttonRestart {
    text-transform: uppercase;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F96E03;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 4.15917px 8.31834px rgba(0, 0, 0, 0.14), 0px 8.31834px 10.3979px rgba(0, 0, 0, 0.12), 0px 2.07958px 20.7958px rgba(0, 0, 0, 0.2);
    border: none;
    width: 190px;
    height: 45px;
    border-radius: 10px;
    font-size: larger;
    color: aliceblue;
    margin: 20px;
    font-weight: bold;
}

.container-game {
    background: linear-gradient(180deg, #AAC2FF 0%, #C81BF1 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(101px);
    border-radius: 20px;
    width: 100%;
    height: 80%;
    max-height: 480px;
    min-height: 480px;
    max-width: 440px;
    top: 10%;
    margin: auto;
}

.container-board {
    position: absolute;
    margin-top: 2%;
    width: 100%;
}

