<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Choose the field size</h1>
    </header>
    <section id="modal-body">
        <p>Fill the entire field by jumping from cell to cell the way a knight does in chess. Start with any cell. Possible moves will be marked in green.</p>
    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="buttonFieldSize5" (click) = setFieldSize5()>5 x 5</button>
        <button mat-raised-button id="buttonFieldSize8" (click) = setFieldSize8()>8 x 8</button>
        <button mat-raised-button id="buttonFieldSize10" (click) = setFieldSize10()>10 x 10</button>
    </footer>
</div>